:root {
  --brown: #8b4513;
  --brown-light: #ab7630;
}

.navbar {
  background-color: var(--brown);
}

footer {
  background-color: var(--brown);
}

.bg-brown {
  background-color: var(--brown) !important;
}


body {
  background-color: var(--brown-light);
}

#headerText {
  font-family: 'Alfa Slab One', cursive;
}

.inline-block{
  display: inline-block;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .video {
    width: 430px;
    height: 250px;
  }
}
@media only screen and (min-width: 768px) {
  .video {
    width: 231px;
    height: 134px;
  }
}
@media only screen and (min-width: 992px) {
  .video {
    width: 311px;
    height: 181px;
  }
}
@media only screen and (min-width: 1200px) {
  .video {
    width: 371px;
    height: 221px;
  }
}
@media only screen and (min-width: 1400px) {
  .video {
    width: 432px;
    height: 243px;
  }
}